
<div class="your_div">
  <p class="text"><%= @question %></p>
  <p class="author"><em>- You</em></p>
</div>

<div class="coach_div">
  <p class="text"><%= @answer %></p>
  <p class="author"><em>- Your stupid coach</em></p>
</div>

<div class="link">
  <%= link_to "Go back", ask_path %>
</div>
